/*
	Milano (MI) Italy
	Sat Dec  7 14:29:41 CET 2013
	Copyright 2013-2019, Isidoro Ghezzi
	isidoro.ghezzi@icloud.com
*/

body{
	background: black;
	margin: 0;
	padding: 0;
	font-size: smaller;
	font-family: monospace
}

.content{
	margin: 0;
	padding: 0;
	color: green;
	text-align: center;
}

.footer{
	font-size: smaller;
	text-align:center;
	background: black;
	color: green;
	margin: 1em;
	border-top: 1px solid green;
}

.result{
	margin-left: auto;
	margin-right: auto;
}

table tr td{
	text-align:right;
}
.ig_button{
	border-radius:8px;
	color: #00ff00;
	border: 1px solid #00ff00;
	padding: 4px;
	margin: 8px;
	text-align: center;
	font-weight: bold;
	width: 10em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.seconds{
	color: #00ff00;
	font-weight: bold;
}
.normal{
	/* color: #00ff00; */
	background: black;
}
.busy{
	/* color: black; */
	background: green;
}
h1{
	color: #00ff00;
}
h2{
	font-size: smaller;
}

a{
	color: #00ff00;
}
.numWorkers{
	color: green;
	-webkit-appearance: menulist-button;
}
